@import './normalize.css';

/* :root->获取根元素html，然后定义变量，在后面可以使用 */
:root{
  --color-text: #666;
  --color-hight-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height:  1.5;
}


*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 定义了应该如何计算一个元素的总宽度和总高度 */
}

body{
  font-family: 'helvetica Neue',helvetica,'pingFang SC','Hiragino Sans GB','microsoft YaHei','微软雅黑',arial,sans-serif;
  user-select: none;/* 禁止用户在页面上选中文字/图片等 */
  -webkit-tap-height-color:transparent;/* webkit是苹果浏览器引擎，tap是点击，即将点击后的高亮设置为透明 */
  background:var(--color-background);/* 背景颜色 */
  color: var(--color-text);/* 字体颜色 */
  width: 100vw;/* vw/vh 视口 */
}

a{
  color: var(--color-text);
  text-decoration: none;
}

.clear-fix::after{
  clear: both;
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix{
  zoom: 1;
}

.left{
  float: left;
}

.right{
  float: right;
}